# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\1234\Django_Study\Django-Study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
